.main {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding-top: 2rem; 
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
  width: 100vw; 
  min-height: 100vh;
}
.main> h1{
   position: absolute;
   z-index: 99;
}
.content > h1{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
  color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
}
.selected{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.selected > a{
   color: #fff;
   background-color: #EA4C89;
   border-radius: 10px;
   padding: 5px;
   width: 100%;
   margin-top: 40px;
}
 .content{
    width: 100%;
    display: flex;
    align-items: center;
   justify-content: center;
    gap: 10px;
    margin-top: 50px;
    padding:  10px;
 }
 .holiday{ 
   padding: 5px;
   border: 1px solid #ccc;
   border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
 }
 .holiday:active {
   transform: scale(0.95);
 }
 .holiday > img{ 
   border-radius: 10px;
 }
 .holiday > p {
   font-size: 20px;
   font-weight: bold;
   margin-top: 10px;
 }
 .content > input {
   width: 100%;
   direction: rtl;
   background-color: #fff;
   color: #C6426E;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   outline: none;
 }
 .content > input:focus {
   border-color: #007bff;
   box-shadow: 0 0 5px #007bff;
 }
/* CSS */
.button1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button1:hover,
.button1:focus {
  background-color: #F082AC;
}
.button3 {
   appearance: none;
   background-color: #2ea44f;
   border: 1px solid rgba(27, 31, 35, .15);
   border-radius: 6px;
   box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
   box-sizing: border-box;
   color: #fff;
   cursor: pointer;
   display: inline-block;
   font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
   font-size: 14px;
   font-weight: 600;
   line-height: 20px;
   padding: 10px 16px;
   position: relative;
   text-align: center;
   text-decoration: none;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: middle;
   white-space: nowrap;
   border-radius: 20px;
   margin-bottom: 20px;
 }
 .button2 {
   background: #e62143;
   border-radius: 11px;
   box-sizing: border-box;
   color: #fff;
   cursor: pointer;
   display: flex;
   font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
   font-size: 14px;
   font-weight: 700;
   justify-content: center;
   line-height: 20px;
   padding: 10px 16px;
   text-align: center;
   text-decoration: none;
   text-decoration-skip-ink: auto;
   text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
   text-underline-offset: 1px;
   transition: all .2s ease-in-out;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: 100%;
   word-break: break-word;
   border: 0;
 }
.images{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 30px;
}
.heartContent{
  margin-top: 40px ;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   -webkit-tap-highlight-color: transparent; /* Disable tap highlight */
}
.heartContent > h1{
   text-align: center;
   font-family: sans-serif;
   width: 100%;
   color: #fff;
}
.heartContent > p {
    font-family: sans-serif;
   color: rgb(241, 30, 100);
   text-align: center;
}
.textHead{
   font-size: 25px;
   font-family: sans-serif;
   color: rgb(223, 37, 99);
}
.buttonConfirm{
   background-color: pink;
}
.fa-heart {
   color: rgb(60, 0, 60);
   font-size: 25px;
   position: absolute;
   animation:  heartMove linear 1;
   top: -10vh;
   z-index: 0;
}

.fa-solid {
 z-index: 0;
}
.buttonsClicked{
   margin-top: 20px;
    display: flex ;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.yesButton{
    background-color: rgb(245, 77, 105);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}
.noButton{
    background-color: red;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}
@keyframes heartMove {
   0%{
       transform: translateY(-10vh) ;
   }
   100%{
       transform: translateY(110vh) ;
   }
}