.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
  min-height: 100vh;
  background-color: #fff;
  color: #000;
}
.images{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 30px;
}
.heartContent{
  margin-top: 40px ;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}
.heartContent > h1{
   text-align: center;
   width: 100%;
   color: rgb(223, 37, 99);
}
