.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
  min-height: 100vh;
  background: #f4c4f3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fc67fa, #f4c4f3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fc67fa, #f4c4f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #000;
}
.images{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 30px;
}
.heartContent{
  margin-top: 40px ;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   -webkit-tap-highlight-color: transparent; /* Disable tap highlight */
}
.heartContent > h1{
   text-align: center;
   font-family: sans-serif;
   width: 100%;
   color: rgb(76, 3, 53);
}
.heartContent > p {
    font-family: sans-serif;
   color: rgb(223, 37, 99);
   text-align: center;
}
.textHead{
   font-size: 25px;
   font-family: sans-serif;
   color: rgb(223, 37, 99);
}
.buttonConfirm{
   background-color: pink;
}
.fa-heart {
   color: rgb(60, 0, 60);
   font-size: 25px;
   position: absolute;
   animation:  heartMove linear 1;
   top: -10vh;
   z-index: 0;
}

.fa-solid {
 z-index: 0;
}
.buttonsClicked{
   margin-top: 20px;
    display: flex ;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.yesButton{
    background-color: rgb(245, 77, 105);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}
.noButton{
    background-color: red;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}
@keyframes heartMove {
   0%{
       transform: translateY(-10vh) ;
   }
   100%{
       transform: translateY(110vh) ;
   }
}